.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
  }
  .Hello{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .typing-demo {
    width: 21ch;
    animation: typing 2s steps(19), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  @media (max-width: 575.98px) {
    .typing-demo{
      font: size 10px;;
    }
   }
   @media (max-width: 575.98px) {
    .span1{
      font: size 1px;;
    }
   }

   @media (max-width: 290.98px) {
    .typing-demo{
      font-size: 8px;
    }
   }

  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .navbar{
    background: transparent;
  }

#banner{
    background-image: url("./images/bg-img.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
#bannername{
    font-size: 35px;
    font-family: fira code;
   
}


 .card img {
  height: 200px;
  object-fit: cover;
}
@media (max-width: 575.98px) {
  .footer{
    width:auto ;
  }
 }@media (max-width: 298.98px) {
  .footer{
    width:100px ;
  }
 }


.footer { 
  color: #fff; 
  padding: 30px 0; 
} 

.footer-links a { 
  color: #fff; 
  text-decoration: none; 
  margin-right: 15px; 
  transition: color 0.3s ease; 
} 

.footer-links a:hover { 
  color: #adb5bd; 
} 

.icons{
  display: flex;
  
}
.githum{
  height: 25px;
  width: 25px;
}
#qualification1{
  background-color: rgb(9, 243, 243);
}
#qualification2{
  background-color: rgb(9, 243, 243);
}
#qualification3{
  background-color: rgb(9, 243, 243);
}

#qualification1:hover{
  transform: scale(1.1);
} 
 #qualification2:hover{
  transform: scale(1.1);
}  

#qualification3:hover{
  transform: scale(1.1);
}

#project3:hover{
  transform: scale(1.1);
}
#project2:hover{
  transform: scale(1.1);
}
#project1:hover{
  transform: scale(1.1);
}
#abtimage:hover {
  transform: scaleX(-1);
}
.skilltext{
  margin:80px;
}


